@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Card */
    .card {
        @apply relative;
    }

    .card > .card-face, .card-back {
        @apply absolute inset-0;
    }

    :is(.card-face, .card-back) {
        @apply w-[100px] h-[164px] ease-in duration-300;
    }

    .card-back {
        @apply bg-emerald-500 border-emerald-700 text-emerald-300 font-bold grid place-items-center;
    }
}

@layer utilities {
    /* Variables */
    :root {
        --90deg: rotateY(90deg);
        --0deg: rotateY(0deg);
        --delay: 300ms;
    }

    /* Card */
    .card-back {
        transform: var(--0deg);
        transition-delay: var(--delay);
    }

    .selected .card-back{
        transform: var(--90deg);
        transition-delay: 0s;
    }

    .card-face {
        transform: var(--90deg);
        transition-delay: 0s;
    }

    .selected .card-face {
        transform: var(--0deg);
        transition-delay: var(--delay);
    }
}